.buttons {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  gap: 4px;
}

.button {
  width: 9em;
  font-size: medium;
  background-color:rgb(64, 16, 16);
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  cursor: pointer;
}

.button:hover {
  border: 1px solid orangered;
  box-shadow: 0px 0px 3px 3px orangered;
  width: 10em;
}

.button:disabled {
  background-color: grey;
}

.link-disabled {
  background-color: grey;
}

.button:active {
  border: 1px solid rgb(255, 130, 84);
  box-shadow: 0px 0px 3px 3px rgb(255, 130, 84);
}

.options-modal {
  padding: 25px;
  min-width: 16em;
}

.trade-modal {
  height: 60%;
  width: 60%;
  min-width: 16em;
}