.game-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 153, 0);
  font-family: sans-serif;
}

.app-content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 3fr 0.9fr 0.3fr;
  align-items: center;
  background-color: rgb(255, 239, 147);
  color: rgb(50, 50, 50);
  width: 90vw;
  height: 95vh;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  outline: 1px solid black;
}

#player-info {
  grid-column: 1;
  grid-row: 3 / 5;
  align-self: end;
}

#board-area {
  display: flex;
  grid-column: 2;
  grid-row: 2 / 4;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-width: 0;
}

#indicators {
  grid-column: 1;
  grid-row: 1;
  align-self: start;
}

#south {
  grid-column: 2;
  grid-row: 4;
  justify-self: center;
  align-self: end;
}

#west {
  grid-column: 1;
  grid-row: 2;
}

#north {
  grid-column: 2;
  grid-row: 1;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  justify-self: center;
  align-self: start;
}

#north .cardsAndName,
#north .list {
  width: 100%;
  max-width: 18.75em;
}

#east {
  grid-column: 3;
  grid-row: 2;
  justify-self: end;
}

#close {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: start;
}

#action-buttons {
  grid-column: 3;
  grid-row: 3 / 5;
  justify-self: end;
  align-self: end;
}

.panel-background {
  background-color: rgba(204, 204, 204, 0.300);
  width: 100%;
  padding: 2px;
  outline: 1px solid grey;
  text-align: center;
  border-radius: 5px;
}

.list {
  list-style-type: none;
  text-align: left;
  font-size: 0.8em;
  padding: 5px;
}

.bold {
  font-weight: bold;
}