.modal-background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.7);
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  background-color: rgb(255, 239, 147);
  border-radius: 5px;
  border: solid 1px black;
}

.modal .cancel {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
}