.options-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 2fr 1fr 1fr auto;
  gap: 1rem;
  align-items: stretch;
  background-color: rgb(255, 239, 147);
  color: rgb(50, 50, 50);
  width: 90vw;
  height: 95vh;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  outline: 1px solid black;
}

#game-options-title {
  grid-column: 1 / 5;
  text-align: center;
  text-decoration: underline;
}

.options-content a {
  grid-column: 1;
  grid-row: 5;
  justify-self: start;
  align-self: end;
  text-align: center;
  text-decoration: none;
  line-height: normal;
}

#play-now {
  grid-column: 2 / 4;
  grid-row: 5;
  font-size: larger;
  justify-self: center;
  align-self: end;
}

.opt-panel-button {
  width: 100%;
}

.opt-panel-button:hover {
  width: 100%;
}

.italics {
  font-style: italic;
  font-weight: normal;
}

/* ---------- Panels positioning ---------- */

.setup-panel {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  padding: 1.5rem;
}

.create-lobby-panel {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.create-lobby-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.join-lobby-panel {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.lobby-panel {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.players-panel {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  padding: 1.5rem;
}

/* ---------- Setup panel ---------- */

.setup-panel h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.setup-row {
  margin-bottom: 1.2rem;
  font-size: 1.1rem;
}

/* ---------- Lobby panel ---------- */

.lobby-panel {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.player-list {
  margin-top: 1rem;
  list-style: disc;
  line-height: 1.6;
  border-bottom: 1px solid black;
}

.lobby-row {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
  list-style-type: decimal;
  border-top: 1px solid black;
}

.leave-lobby-btn {
  margin-top: 1rem;
}

/* ---------- Players panel ---------- */

.players-panel h3 {
  margin-bottom: 1rem;
}

.players-panel ul {
  list-style: disc;
  padding-left: 1.5rem;
}

/* ---------- Server message window ---------- */

.server-messages {
  grid-column: 2 / 5;
  grid-row: 3 / 5;
  align-self: end;
  height: 100%;

  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 10px;
  outline: 1px solid black;
  font-style: italic;
  font-size: 0.9rem;
}