.modal .options {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;
}

.option-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .options .button {
  width: 4em;
  font-size: small;
}


.modal .options .button:disabled {
  background-color: grey;
}

.modal .options .button:disabled:hover {
  box-shadow: none;
  border: solid 1px grey;
}