.options-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 3fr 3fr auto;
  gap: 1rem;
  align-items: stretch;
  background-color: rgb(255, 239, 147);
  color: rgb(50, 50, 50);
  width: 90vw;
  height: 95vh;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  outline: 1px solid black;
}

#game-options-title {
  grid-column: 1 / 5;
  text-align: center;
  text-decoration: underline;
}



.options-content a {
  grid-column: 1;
  grid-row: 4;
  justify-self: start;
  align-self: end;
  text-align: center;
  text-decoration: none;
  line-height: normal;
}

#play-now {
  grid-column: 2 / 4;
  grid-row: 4;
  font-size: larger;
  justify-self: center;
  align-self: end;
}

/* ---------- Panels positioning ---------- */

.setup-panel {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  padding: 1.5rem;
}

.create-lobby-panel {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.join-lobby-panel {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.lobby-panel {
  grid-column: 4 / 5;
  grid-row: 2 / 4; /* spans BOTH rows */
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.players-panel {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  padding: 1.5rem;
}

/* ---------- Setup panel ---------- */

.setup-panel h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.setup-row {
  margin-bottom: 1.2rem;
  font-size: 1.1rem;
}

/* ---------- Lobby panel ---------- */

.lobby-panel {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.player-list {
  margin-top: 1rem;
  padding-left: 1.5rem;
  list-style: disc;
  line-height: 1.6;
}

/* ---------- Players panel ---------- */

.players-panel h3 {
  margin-bottom: 1rem;
}

.players-panel ul {
  list-style: disc;
  padding-left: 1.5rem;
}

/* ---------- Server message window ---------- */

.server-messages {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  align-self: end;

  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  outline: 1px solid black;
  font-style: italic;
}