.trade-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    min-width: 200px;
}

.trade-columns {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.trade-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    min-width: 20%;
}

.trade-header {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

.trade-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem;
}

.trade-arrows-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.trade-arrows {
    width: 80%;
    scale: 1 0.8;
}

.arrow {
    width: 80px;
    height: 4px;
    background: #fff;
    position: absolute;
}

.arrow-left {
    transform: translateX(-50%) rotate(180deg);
}

.arrow-right {
    transform: translateX(50%);
}

.trade-action {
    display : flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
}