#player-info {
  display: flex;
  padding: 5px;
  
  min-width: 260px;
}

.table {
  width: 100%;

}

#player-info tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.res-icon {
  font-size: large;
}