.DC-options {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    gap: 2em;
    width: 15em;
    max-width: 85%;
}

.playDC-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal .DC-options .button {
  width: 4em;
  font-size: small;
}


.modal .DC-options .button:disabled {
  background-color: grey;
}

.modal .DC-options .button:disabled:hover {
  box-shadow: none;
  border: solid 1px grey;
}