img {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  background-color: rgb(201, 55, 55);
  border-radius: 5px;
}

img:hover {
  border: none;
  box-shadow: 0px 0px 3px 3px rgb(201, 55, 55);
}

img:active {
  background-color: rgb(249, 118, 118);
  box-shadow: 0px 0px 3px 3px rgb(249, 118, 118);
}